<section *ngIf="visible">
  <article>
    <header>
      Oxide Mod {{version}}
      <svg (click)="close.emit()" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-times fa-w-11"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path></svg>
    </header>
    <main>
      <div style="display: flex; align-items: center; gap: 15px; margin-bottom: 10px;">
        <input type="text" #searchInput pInputText size="50" placeholder="Search plugin by name/author"
               (input)="filterTerm = getStringFromInputEvent($event)" style="width:auto">
        <div class="boxInfo" style="display: inline-flex; gap: 30px;">
          <div class="col">
            <label>Plugins Size</label>
            <span>{{stats.size}}</span>
          </div>
          <div class="col">
            <label>Load Impact</label>
            <span>{{stats.time}}</span>
          </div>
          <div class="col">
            <label>Loaded</label>
            <span>{{stats.loaded}}</span>
          </div>
          <div class="col">
            <label>Unloaded</label>
            <span>{{stats.unloaded}}</span>
          </div>
        </div>
      </div>
      <table class="plugin-table">
        <thead>
          <tr>
            <th *ngFor="let col of pluginsCols" [style.width]="col.width"
                [class.sortable]="col.field !== 'actions'"
                (click)="col.field !== 'actions' && sortPlugins(col.field)">
              {{col.header}}
              <span *ngIf="col.field !== 'actions'" class="sort-icon">{{getSortIcon(col.field)}}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plugin of filteredPlugins" [class.unloaded]="!plugin.loaded">
            <td *ngFor="let col of pluginsCols">
              <span class="id" *ngIf="col.field === 'id'" style="width: 100%;display: flex;justify-content: space-between;">
                <ng-container *ngIf="!plugin.latest_release_version">{{plugin.id}}</ng-container>
                <a [style.color]="plugin.updates ? '#ff806b' : '#c3f488'"
                   [href]="'https://umod.org/plugins/'+plugin.slug" target="_blank"
                   *ngIf="plugin.latest_release_version">{{plugin.id}}</a>
                <i *ngIf="!plugin.latest_release_version">{{plugin.version}}</i>
                <i [style.color]="plugin.updates ? '#ff806b' : '#c3f488'" *ngIf="plugin.latest_release_version">
                  {{plugin.version}}
                  <ng-container *ngIf="plugin.updates"> > {{plugin.latest_release_version}}</ng-container>
                </i>
              </span>
              <span class="author" *ngIf="col.field === 'author'">{{plugin.author}}</span>
              <span class="size" *ngIf="col.field === 'sizeBytes'">{{plugin.size}}</span>
              <span class="time" *ngIf="col.field === 'timeMs'">{{plugin.time}}</span>
              <div class="actions" *ngIf="col.field === 'actions'">
                <button class="compact" [class.loading]="plugin.loading" *ngIf="plugin.loaded"
                        (click)="plugin.loading = true; reload(plugin.id)">Reload</button>
                <button class="compact" [class.loading]="plugin.loading" *ngIf="plugin.loaded"
                        (click)="plugin.loading = true; unload(plugin.id)">Unload</button>
                <button class="compact" [class.loading]="plugin.loading" *ngIf="!plugin.loaded"
                        (click)="plugin.loading = true; load(plugin.id)">Load</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </article>
</section>
